&lt;div class=&quot;main-box clearfix&quot;&gt;
    &lt;div class=&quot;main-box-header&quot;&gt;
        &lt;h2&gt;Quick Funnel&lt;/h2&gt;
        &lt;br/&gt;
        &lt;select onchange=&quot;javascript:location.href = this.value;&quot;&gt;
            &lt;option value=&quot;{{ link.pages-e-dashboard }}&quot;&gt;Candidate Engagement &lt;/option&gt;
            &lt;option value=&quot;{{ link.pages-e-dashboard-alt }}&quot; selected&gt;My Engagement&lt;/option&gt;
        &lt;/select&gt;
        &lt;select&gt;
            &lt;option&gt;Last 30 days&lt;/option&gt;
            &lt;option&gt;Last 60 days&lt;/option&gt;
            &lt;option&gt;Last 90 days&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
        &lt;div class=&quot;infographic-box margin-bottom-10 text-center&quot;&gt;
            &lt;div class=&quot;col-sm-1&quot;&gt;&lt;/div&gt;
            &lt;button class=&quot;col-sm-10 btn btn-lg btn-default&quot;&gt;
                4 viewed&amp;nbsp;&lt;span class=&quot;fa fa-user&quot;&gt;&lt;/span&gt;
            &lt;/button&gt;
            &lt;div class=&quot;col-sm-1&quot;&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-12 margin-bottom-10 margin-top-10&quot;&gt;&lt;span class=&quot;fa fa-arrow-down&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-2&quot;&gt;&lt;/div&gt;
            &lt;button class=&quot;col-sm-8 btn btn-lg btn-primary&quot;&gt;
                1 favorited&amp;nbsp;&lt;span class=&quot;fa fa-heart&quot;&gt;&lt;/span&gt;
            &lt;/button&gt;
            &lt;div class=&quot;col-sm-2&quot;&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-12 margin-bottom-10 margin-top-10&quot;&gt;&lt;span class=&quot;fa fa-arrow-down&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-3&quot;&gt;&lt;/div&gt;
            &lt;button class=&quot;col-sm-6 btn btn-lg btn-primary&quot;&gt;
                4 contacted&amp;nbsp;&lt;span class=&quot;fa fa-send&quot;&gt;&lt;/span&gt;
            &lt;/button&gt;
            &lt;div class=&quot;col-sm-3&quot;&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-12 margin-bottom-10 margin-top-10&quot;&gt;&lt;span class=&quot;fa fa-arrow-down&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-4&quot;&gt;&lt;/div&gt;
            &lt;button class=&quot;col-sm-4 btn btn-lg btn-success&quot;&gt;
                0 shared&amp;nbsp;&lt;span class=&quot;fa fa-share&quot;&gt;&lt;/span&gt;
            &lt;/button&gt;
            &lt;div class=&quot;col-sm-4&quot;&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
