&lt;div id=&quot;theme-wrapper&quot; class=&quot;messages-home&quot;&gt;
    {{&gt; organisms-header-alt}}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;content-wrapper&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-md-10 col-md-offset-2&quot;&gt;

                        &lt;div class=&quot;row hidden-lg margin-bottom-16&quot;&gt;
                            {{&gt; organisms-new-message-button }}

                            &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot; data-toggle=&quot;modal&quot; data-target=&quot;#jump-to-profile-modal&quot;&gt;
                                Jump to Profile &lt;span class=&quot;fa fa-user&quot;&gt;&lt;/span&gt;
                            &lt;/button&gt;
                        &lt;/div&gt;

                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-lg-8&quot;&gt;
                                &lt;div class=&quot;main-box clearfix&quot;&gt;
                                    &lt;header class=&quot;main-box-header clearfix&quot;&gt;
                                        &lt;h2&gt;Message&lt;/h2&gt;
                                    &lt;/header&gt;
                                    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                        &lt;p&gt;{{&gt; molecules-single-browse-student }}&lt;/p&gt;
                                        &lt;hr&gt;
                                        &lt;div class=&quot;form-group clearfix&quot;&gt;
                                            &lt;p&gt;Kickstart:&lt;/p&gt;
                                            &lt;div class=&quot;col-md-4&quot;&gt;
                                                &lt;p&gt;&lt;a href=&quot;#&quot;&gt;Say hello and send encouragement&lt;/a&gt;&lt;/p&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;col-md-4&quot;&gt;
                                                &lt;p&gt;&lt;a href=&quot;#&quot;&gt;Ask questions about interests&lt;/a&gt;&lt;/p&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;col-md-4&quot;&gt;
                                                &lt;p&gt;&lt;a href=&quot;#&quot;&gt;Recommend an article&lt;/a&gt;&lt;/p&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;hr&gt;
                                        &lt;form role=&quot;form&quot;&gt;
                                            &lt;div class=&quot;form-group&quot;&gt;
                                                &lt;textarea class=&quot;form-control&quot; id=&quot;exampleTextarea&quot; rows=&quot;8&quot; placeholder=&quot;Your positive and informative message goes here.&quot;&gt;&lt;/textarea&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;form-group&quot;&gt;
                                                &lt;button class=&quot;btn btn-success&quot;&gt;Send&lt;/button&gt;
                                            &lt;/div&gt;
                                        &lt;/form&gt;
                                        &lt;div class=&quot;pre-scrollable&quot;&gt;
                                            {{&gt; organisms-messages-list-employer }}
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;col-lg-4&quot;&gt;
                                &lt;div class=&quot;main-box clearfix&quot;&gt;
                                    &lt;header class=&quot;main-box-header clearfix&quot;&gt;
                                        &lt;h2&gt;Inbox&lt;/h2&gt;
                                    &lt;/header&gt;

                                    &lt;div class=&quot;main-box-body clearfix pre-scrollable&quot; style=&quot;word-break: break-all;&quot;&gt;
                                        &lt;ul class=&quot;list-group&quot;&gt;
                                            &lt;li class=&quot;list-group-item&quot;&gt;
                                                &lt;div class=&quot;col-xs-12 lead-new&quot;&gt;
                                                    &lt;p class=&quot;small&quot;&gt;&lt;i class=&quot;fa fa-circle notification-menu-item&quot;&gt;&lt;/i&gt;&amp;nbsp;&lt;a href=&quot;{{ link.pages-e-student-profile }}&quot;&gt;Sonya Frost&lt;/a&gt;&lt;/p&gt;
                                                    &lt;p class=&quot;small&quot;&gt;1 day ago&lt;/p&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                            &lt;/li&gt;
                                            &lt;li class=&quot;list-group-item&quot;&gt;
                                                &lt;div class=&quot;col-xs-12 lead-new&quot;&gt;
                                                    &lt;p class=&quot;small&quot;&gt;&lt;i class=&quot;fa fa-circle notification-menu-item&quot;&gt;&lt;/i&gt;&amp;nbsp;&lt;a href=&quot;{{ link.pages-e-student-profile }}&quot;&gt;Amy Awesome&lt;/a&gt;&lt;/p&gt;
                                                    &lt;p class=&quot;small&quot;&gt;2 days ago&lt;/p&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                            &lt;/li&gt;
                                            &lt;li class=&quot;list-group-item&quot;&gt;
                                                &lt;div class=&quot;col-xs-12 lead-new&quot;&gt;
                                                    &lt;p class=&quot;small&quot;&gt;&lt;a href=&quot;{{ link.pages-e-student-profile }}&quot;&gt;John Boomer&lt;/a&gt;&lt;/p&gt;
                                                    &lt;p class=&quot;small&quot;&gt;5 days ago&lt;/p&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                            &lt;/li&gt;
                                            &lt;li class=&quot;list-group-item&quot;&gt;
                                                &lt;div class=&quot;col-xs-12 lead-new&quot;&gt;
                                                    &lt;p class=&quot;small&quot;&gt;&lt;a href=&quot;{{ link.pages-e-student-profile }}&quot;&gt;Cable Fame&lt;/a&gt;&lt;/p&gt;
                                                    &lt;p class=&quot;small&quot;&gt;10 days ago&lt;/p&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                            &lt;/li&gt;
                                            &lt;li class=&quot;list-group-item&quot;&gt;
                                                &lt;div class=&quot;col-xs-12 lead-new&quot;&gt;
                                                    &lt;p class=&quot;small&quot;&gt;&lt;a href=&quot;{{ link.pages-e-student-profile }}&quot;&gt;Deshaun Watson&lt;/a&gt;&lt;/p&gt;
                                                    &lt;p class=&quot;small&quot;&gt;12 days ago&lt;/p&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                            &lt;/li&gt;
                                            &lt;li class=&quot;list-group-item&quot;&gt;
                                                &lt;div class=&quot;col-xs-12 lead-new&quot;&gt;
                                                    &lt;p class=&quot;small&quot;&gt;&lt;a href=&quot;{{ link.pages-e-student-profile }}&quot;&gt;marcuspq@yahoo.com&lt;/a&gt;&lt;/p&gt;
                                                    &lt;p class=&quot;small&quot;&gt;15 days ago&lt;/p&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                            &lt;/li&gt;
                                            &lt;li class=&quot;list-group-item&quot;&gt;
                                                &lt;div class=&quot;col-xs-12 lead-new&quot;&gt;
                                                    &lt;p class=&quot;small&quot;&gt;&lt;a href=&quot;{{ link.pages-e-student-profile }}&quot;&gt;Felicia Stelzawiczbergfoss&lt;/a&gt;&lt;/p&gt;
                                                    &lt;p class=&quot;small&quot;&gt;16 days ago&lt;/p&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                            &lt;/li&gt;
                                            &lt;li class=&quot;list-group-item&quot;&gt;
                                                &lt;div class=&quot;col-xs-12 lead-new&quot;&gt;
                                                    &lt;p class=&quot;small&quot;&gt;&lt;a href=&quot;{{ link.pages-e-student-profile }}&quot;&gt;Chris Motley&lt;/a&gt;&lt;/p&gt;
                                                    &lt;p class=&quot;small&quot;&gt;19 days ago&lt;/p&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                            &lt;/li&gt;
                                        &lt;/ul&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;

                    {{&gt; organisms-footer }}
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;