&lt;p&gt;&lt;strong class=&quot;gray-color&quot;&gt;Kunal Parbadia&lt;/strong&gt; noted:&lt;/p&gt;
&lt;p&gt;I'd want to talk to her one more time before I make a decision.&lt;/p&gt;
&lt;p class=&quot;message-date&quot;&gt;12/08/2015 - 3:30pm&lt;/p&gt;

&lt;hr /&gt;

&lt;p&gt;&lt;strong class=&quot;gray-color&quot;&gt;Jade McNear&lt;/strong&gt; &lt;strong&gt;shared&lt;/strong&gt; with Kunal Parbadia.&lt;/p&gt;
&lt;p class=&quot;message-date&quot;&gt;12/08/2015 - 8:30am&lt;/p&gt;

&lt;hr /&gt;

&lt;p&gt;&lt;strong class=&quot;gray-color&quot;&gt;Jade McNear&lt;/strong&gt; &lt;strong class=&quot;text-primary&quot;&gt;favorited&lt;/strong&gt; for &lt;a href=&quot;{{ link.pages-e-job-posting }}&quot;&gt;Medical Assistant&lt;/a&gt; and noted:&lt;/p&gt;
&lt;p&gt;Great meeting her in person. Really liked her enthusiasm! I'm going to encourage her to apply to our position.&lt;/p&gt;
&lt;p class=&quot;message-date&quot;&gt;12/07/2015 - 3:30pm&lt;/p&gt;

&lt;hr /&gt;

&lt;p&gt;&lt;strong class=&quot;gray-color&quot;&gt;Chris Motley&lt;/strong&gt; &lt;strong class=&quot;text-danger&quot;&gt;passed&lt;/strong&gt; and noted:&lt;/p&gt;
&lt;p&gt;Great enthusiasm, but doesn't have a lot of experience.&lt;/p&gt;
&lt;p class=&quot;message-date&quot;&gt;12/07/2015 - 1:30pm&lt;/p&gt;

&lt;hr /&gt;