&lt;div class=&quot;main-box clearfix&quot;&gt;
  &lt;header class=&quot;main-box-header clearfix&quot;&gt;
    &lt;select&gt;
      &lt;option&gt;Suggested Candidates&lt;/option&gt;
      &lt;option&gt;My Favorites&lt;/option&gt;
      &lt;option&gt;Candidates I've Contacted&lt;/option&gt;
    &lt;/select&gt;
  &lt;/header&gt;
    {{&gt; organisms-e-dashboard-suggested-candidates }}
&lt;/div&gt;