&lt;div id=&quot;theme-wrapper&quot; class=&quot;jobs-home&quot;&gt;
    {{&gt; organisms-header }}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;nav-col&quot;&gt;
                &lt;section id=&quot;col-left&quot; class=&quot;col-left-nano&quot;&gt;
                    &lt;div id=&quot;col-left-inner&quot; class=&quot;col-left-nano-content&quot;&gt;
                        {{&gt; molecules-cs-left-nav }}
                    &lt;/div&gt;
                &lt;/section&gt;
            &lt;/div&gt;
            &lt;div id=&quot;content-wrapper&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;

                        &lt;div class=&quot;row hidden-lg margin-bottom-16&quot;&gt;
                            &lt;div class=&quot;col-xs-4&quot;&gt;
                                &lt;!-- Button trigger modal --&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot; data-toggle=&quot;modal&quot; data-target=&quot;#myModal&quot;&gt;
                                    Add Contact &lt;span class=&quot;fa fa-plus&quot;&gt;&lt;/span&gt;
                                &lt;/button&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;col-xs-4&quot;&gt;
                                &lt;!-- Button trigger modal --&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot; data-toggle=&quot;modal&quot; data-target=&quot;#myModal2&quot;&gt;
                                    Bulk Upload &lt;span class=&quot;fa fa-upload&quot;&gt;&lt;/span&gt;
                                &lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;

                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-lg-8&quot;&gt;

                                &lt;div class=&quot;main-box clearfix&quot;&gt;
                                    &lt;header class=&quot;main-box-header clearfix&quot;&gt;
                                        &lt;h2&gt;Contacts&lt;/h2&gt;
                                    &lt;/header&gt;

                                    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                        &lt;div class=&quot;table-responsive&quot;&gt;
                                            &lt;table id=&quot;table-activity&quot; class=&quot;table table-hover&quot;&gt;
                                                &lt;thead&gt;
                                                &lt;tr&gt;
                                                    &lt;th&gt;Name&lt;/th&gt;
                                                    &lt;th&gt;Type&lt;/th&gt;
                                                    &lt;th&gt;Email&lt;/th&gt;
                                                    &lt;th&gt;Phone&lt;/th&gt;
                                                    &lt;th&gt;Company&lt;/th&gt;
                                                    &lt;th&gt;Notes&lt;/th&gt;
                                                    &lt;th&gt;Actions&lt;/th&gt;
                                                &lt;/tr&gt;
                                                &lt;/thead&gt;
                                                &lt;tbody&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;Marth Degroff&lt;/a&gt;&lt;/td&gt;
                                                    &lt;td&gt;Alumni&lt;/td&gt;
                                                    &lt;td&gt;marth.degroff@monsanto.com&lt;/td&gt;
                                                    &lt;td&gt;(312) 748-1928&lt;/td&gt;
                                                    &lt;td&gt;Monsanto&lt;/td&gt;
                                                    &lt;td&gt;Interested in mentorship opportunities.&lt;/td&gt;
                                                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;Copy&lt;/a&gt; | &lt;a href=&quot;#&quot;&gt;Delete&lt;/a&gt;&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;Lilliana Sosnowski&lt;/a&gt;&lt;/td&gt;
                                                    &lt;td&gt;Employer&lt;/td&gt;
                                                    &lt;td&gt;lilliana.Sosnowski@Google.com&lt;/td&gt;
                                                    &lt;td&gt;(312) 748-1928&lt;/td&gt;
                                                    &lt;td&gt;Google&lt;/td&gt;
                                                    &lt;td&gt;Looking for engineering students.&lt;/td&gt;
                                                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;Copy&lt;/a&gt; | &lt;a href=&quot;#&quot;&gt;Delete&lt;/a&gt;&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;Minh Fill&lt;/a&gt;&lt;/td&gt;
                                                    &lt;td&gt;Mentor&lt;/td&gt;
                                                    &lt;td&gt;ming.fill@gmail.com&lt;/td&gt;
                                                    &lt;td&gt;(312) 748-1928&lt;/td&gt;
                                                    &lt;td&gt;Northwestern Hospital&lt;/td&gt;
                                                    &lt;td&gt;&lt;/td&gt;
                                                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;Copy&lt;/a&gt; | &lt;a href=&quot;#&quot;&gt;Delete&lt;/a&gt;&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;Johnathon Loveless&lt;/a&gt;&lt;/td&gt;
                                                    &lt;td&gt;Other&lt;/td&gt;
                                                    &lt;td&gt;johnathon.loveless@gmail.com&lt;/td&gt;
                                                    &lt;td&gt;(312) 748-1928&lt;/td&gt;
                                                    &lt;td&gt;Academia&lt;/td&gt;
                                                    &lt;td&gt;&lt;/td&gt;
                                                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;Copy&lt;/a&gt; | &lt;a href=&quot;#&quot;&gt;Delete&lt;/a&gt;&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;Katherin Giron&lt;/a&gt;&lt;/td&gt;
                                                    &lt;td&gt;Alumni&lt;/td&gt;
                                                    &lt;td&gt;katherin.giron@apple.com&lt;/td&gt;
                                                    &lt;td&gt;(312) 748-1928&lt;/td&gt;
                                                    &lt;td&gt;Apple&lt;/td&gt;
                                                    &lt;td&gt;Has a few open internships.&lt;/td&gt;
                                                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;Copy&lt;/a&gt; | &lt;a href=&quot;#&quot;&gt;Delete&lt;/a&gt;&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;Yevette Sartwell&lt;/a&gt;&lt;/td&gt;
                                                    &lt;td&gt;Employer&lt;/td&gt;
                                                    &lt;td&gt;yevette.sartwell@gmail.com&lt;/td&gt;
                                                    &lt;td&gt;(312) 748-1928&lt;/td&gt;
                                                    &lt;td&gt;Monsanto&lt;/td&gt;
                                                    &lt;td&gt;&lt;/td&gt;
                                                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;Copy&lt;/a&gt; | &lt;a href=&quot;#&quot;&gt;Delete&lt;/a&gt;&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;/tbody&gt;
                                            &lt;/table&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;col-md-4&quot;&gt;
                                &lt;div class=&quot;row&quot;&gt;


                                    &lt;div class=&quot;col-xs-12 visible-lg&quot;&gt;

                                        &lt;!-- Button trigger modal --&gt;
                                        &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot; data-toggle=&quot;modal&quot; data-target=&quot;#myModal&quot;&gt;
                                            Add Contact &lt;span class=&quot;fa fa-plus&quot;&gt;&lt;/span&gt;
                                        &lt;/button&gt;

                                    &lt;/div&gt;


                                    &lt;!-- Modal --&gt;
                                    &lt;div class=&quot;modal fade&quot; id=&quot;myModal&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;myModalLabel&quot;&gt;
                                        &lt;div class=&quot;modal-dialog&quot; role=&quot;document&quot;&gt;
                                            &lt;div class=&quot;modal-content&quot;&gt;
                                                &lt;div class=&quot;modal-header&quot;&gt;
                                                    &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;&lt;/button&gt;
                                                    &lt;h4 class=&quot;modal-title&quot; id=&quot;myModalLabel&quot;&gt;Add Contact&lt;/h4&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;modal-body&quot;&gt;
                                                    &lt;div class=&quot;row&quot;&gt;
                                                        &lt;div class=&quot;col-lg-12&quot;&gt;
                                                            &lt;div class=&quot;form-group&quot;&gt;
                                                                &lt;label&gt;Name&lt;/label&gt;
                                                                &lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Name&quot;&gt;
                                                            &lt;/div&gt;
                                                            &lt;div class=&quot;form-group&quot;&gt;
                                                                &lt;label&gt;Type&lt;/label&gt;
                                                                &lt;select style=&quot;width:100%;&quot;&gt;
                                                                    &lt;option value=&quot;&quot;&gt;Alumni&lt;/option&gt;
                                                                    &lt;option value=&quot;&quot;&gt;Employer&lt;/option&gt;
                                                                    &lt;option value=&quot;&quot;&gt;Mentor&lt;/option&gt;
                                                                    &lt;option value=&quot;&quot;&gt;Other&lt;/option&gt;
                                                                &lt;/select&gt;
                                                            &lt;/div&gt;
                                                            &lt;div class=&quot;form-group&quot;&gt;
                                                                &lt;label&gt;Email&lt;/label&gt;
                                                                &lt;input type=&quot;email&quot; class=&quot;form-control&quot; placeholder=&quot;Email&quot;&gt;
                                                            &lt;/div&gt;
                                                            &lt;div class=&quot;form-group&quot;&gt;
                                                                &lt;label&gt;Phone&lt;/label&gt;
                                                                &lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Phone&quot;&gt;
                                                            &lt;/div&gt;
                                                            &lt;div class=&quot;form-group&quot;&gt;
                                                                &lt;label&gt;Company&lt;/label&gt;
                                                                &lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Company&quot;&gt;
                                                            &lt;/div&gt;
                                                            &lt;div class=&quot;form-group&quot;&gt;
                                                                &lt;label&gt;Note&lt;/label&gt;
                                                                &lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Note&quot;&gt;
                                                            &lt;/div&gt;


                                                        &lt;/div&gt;
                                                    &lt;/div&gt;

                                                &lt;/div&gt;
                                                &lt;div class=&quot;modal-footer&quot;&gt;
                                                    &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; data-dismiss=&quot;modal&quot;&gt;Cancel&lt;/button&gt;
                                                    &lt;!--&lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; data-dismiss=&quot;modal&quot;&gt;Save Draft&lt;/button&gt;--&gt;
                                                    &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; onclick=&quot;window.location='{{ link.pages-cs-job-posted }}';&quot;&gt;Post&lt;/button&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;

                                    &lt;div class=&quot;col-xs-12 margin-top-20 visible-lg&quot;&gt;

                                        &lt;!-- Button trigger modal --&gt;
                                        &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot; data-toggle=&quot;modal&quot; data-target=&quot;#myModal2&quot;&gt;
                                            Bulk Upload &lt;span class=&quot;fa fa-upload&quot;&gt;&lt;/span&gt;
                                        &lt;/button&gt;

                                    &lt;/div&gt;


                                    &lt;!-- Modal --&gt;
                                    &lt;div class=&quot;modal fade&quot; id=&quot;myModal2&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;myModalLabel&quot;&gt;
                                        &lt;div class=&quot;modal-dialog&quot; role=&quot;document&quot;&gt;
                                            &lt;div class=&quot;modal-content&quot;&gt;
                                                &lt;div class=&quot;modal-header&quot;&gt;
                                                    &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;&lt;/button&gt;
                                                    &lt;h4 class=&quot;modal-title&quot; id=&quot;myModalLabel&quot;&gt;Bulk Upload&lt;/h4&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;modal-body&quot;&gt;
                                                    &lt;div class=&quot;form-group&quot;&gt;
                                                        &lt;label for=&quot;exampleInputFile&quot;&gt;Download Template&lt;/label&gt;
                                                        &lt;p&gt;&lt;strong&gt;Step 1.&lt;/strong&gt; &lt;a href=&quot;#&quot;&gt;Download the CSV template&lt;/a&gt;&lt;/p&gt;
                                                    &lt;/div&gt;
                                                    &lt;form&gt;
                                                        &lt;div class=&quot;form-group&quot;&gt;
                                                            &lt;p&gt;&lt;strong&gt;Step 2.&lt;/strong&gt; Upload CSV file.&lt;/p&gt;
                                                            &lt;label for=&quot;exampleInputFile&quot;&gt;Upload CSV file&lt;/label&gt;
                                                            &lt;input type=&quot;file&quot; id=&quot;exampleInputFile&quot;&gt;
                                                        &lt;/div&gt;
                                                    &lt;/form&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;modal-footer&quot;&gt;
                                                    &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; data-dismiss=&quot;modal&quot;&gt;Cancel&lt;/button&gt;
                                                    &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Upload&lt;/button&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;


                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;

                    {{&gt; organisms-footer }}
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;script&gt;
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
    &lt;/script&gt;