&lt;hr /&gt;
&lt;div class=&quot;clearfix &quot;&gt;
    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
        {{&gt; molecules-single-browse-student }}
        &lt;hr /&gt;
        {{&gt; molecules-single-browse-student-alt }}
        &lt;hr /&gt;
        {{&gt; molecules-single-browse-student }}
        &lt;hr /&gt;
        {{&gt; molecules-single-browse-student-alt }}
        &lt;hr /&gt;
        {{&gt; molecules-single-browse-student }}
        &lt;hr /&gt;
        {{&gt; molecules-single-browse-student-alt }}
        &lt;hr /&gt;
        {{&gt; molecules-single-browse-student }}
        &lt;hr /&gt;
        {{&gt; molecules-single-browse-student-alt }}
    &lt;/div&gt;
&lt;/div&gt;

{{&gt; organisms-new-message-modal }}
