&lt;div class=&quot;main-box clearfix&quot;&gt;
    &lt;header class=&quot;main-box-header clearfix&quot;&gt;
        &lt;h2&gt;Posts&lt;/h2&gt;
    &lt;/header&gt;

    &lt;div class=&quot;main-box-body clearfix&quot;&gt;

        &lt;div class=&quot;table-responsive&quot;&gt;
            &lt;table id=&quot;table-activity&quot; class=&quot;table table-hover&quot;&gt;
                &lt;thead&gt;
                &lt;tr&gt;
                    &lt;th&gt;Title&lt;/th&gt;
                    &lt;th&gt;Type&lt;/th&gt;
                    &lt;th&gt;Stats&lt;/th&gt;
                    &lt;th&gt;Actions&lt;/th&gt;
                &lt;/tr&gt;
                &lt;/thead&gt;
                &lt;tbody&gt;
                &lt;tr&gt;
                    &lt;td&gt;&lt;a href=&quot;{{ link.pages-e-company-landing-new }}&quot;&gt;World Wide Technology&lt;/a&gt;
                        &lt;br&gt;&lt;span class=&quot;small&quot;&gt;07/22/15 9:10 AM&lt;/span&gt;&lt;/td&gt;
                    &lt;td&gt;Company&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;7 views / 2 faves&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;
                        &lt;div class=&quot;lead-buttons&quot;&gt;
                            {{&gt; molecules-buttons-posts-edit }}
                        &lt;/div&gt;
                    &lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;td&gt;&lt;a href=&quot;{{ link.pages-job-seeker-advice-single }}&quot;&gt;Solve This Hard Problem for Your Summer 2017 Internship&lt;/a&gt;
                    &lt;br&gt;&lt;span class=&quot;small&quot;&gt;07/22/15 9:10 AM&lt;/span&gt;&lt;/td&gt;
                    &lt;td&gt;Project&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;7 views / 2 faves&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;
                        &lt;div class=&quot;lead-buttons&quot;&gt;
                            {{&gt; molecules-buttons-posts-edit }}
                        &lt;/div&gt;
                    &lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;td&gt;&lt;a href=&quot;{{ link.pages-job-seeker-advice-single }}&quot;&gt;What It's Like to Work at Amazon.com&lt;/a&gt;
                    &lt;br/&gt;&lt;span class=&quot;small&quot;&gt;07/22/15 9:09 AM&lt;/span&gt;&lt;/td&gt;
                    &lt;td&gt;Article&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;3 views / 0 faves&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;
                        &lt;div class=&quot;lead-buttons&quot;&gt;
                            {{&gt; molecules-buttons-posts-edit }}
                        &lt;/div&gt;
                    &lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;td&gt;&lt;a href=&quot;{{ link.pages-job-seeker-advice-single }}&quot;&gt;Amazon.com is a great place for English majors&lt;/a&gt;
                    &lt;br/&gt;&lt;span class=&quot;small&quot;&gt;07/22/15 9:11 AM&lt;/span&gt;&lt;/td&gt;
                    &lt;td&gt;Article&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;7 views / 2 faves&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;
                        &lt;div class=&quot;lead-buttons&quot;&gt;
                            {{&gt; molecules-buttons-posts-edit }}
                        &lt;/div&gt;
                    &lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;td&gt;&lt;a href=&quot;{{ link.pages-e-job-posting }}&quot;&gt;Digital Marketing Analyst&lt;/a&gt;
                    &lt;br/&gt;&lt;span class=&quot;small&quot;&gt;07/22/15 9:09 AM&lt;/span&gt;&lt;/td&gt;
                    &lt;td&gt;Job&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;10 previews / 2 faves / 1 interested&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;
                        &lt;div class=&quot;lead-buttons&quot;&gt;
                            {{&gt; molecules-buttons-posts-edit }}
                        &lt;/div&gt;
                    &lt;/td&gt;
                &lt;/tr&gt;
                &lt;/tbody&gt;
            &lt;/table&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;main-box clearfix&quot;&gt;
    &lt;header class=&quot;main-box-header clearfix&quot;&gt;
        &lt;h2&gt;Archives&lt;/h2&gt;
    &lt;/header&gt;

    &lt;div class=&quot;main-box-body clearfix&quot;&gt;

        &lt;div class=&quot;table-responsive&quot;&gt;
            &lt;table id=&quot;table-activity&quot; class=&quot;table table-hover&quot;&gt;
                &lt;thead&gt;
                &lt;tr&gt;
                    &lt;th&gt;Title&lt;/th&gt;
                    &lt;th&gt;Type&lt;/th&gt;
                    &lt;th&gt;Stats&lt;/th&gt;
                    &lt;th&gt;Actions&lt;/th&gt;
                &lt;/tr&gt;
                &lt;/thead&gt;
                &lt;tbody&gt;
                &lt;tr&gt;
                    &lt;td&gt;&lt;a href=&quot;{{ link.pages-job-seeker-advice-single }}&quot;&gt;Solve This Hard Problem for Your Summer 2017 Internship&lt;/a&gt;
                        &lt;br&gt;&lt;span class=&quot;small&quot;&gt;07/22/15 9:10 AM&lt;/span&gt;&lt;/td&gt;
                    &lt;td&gt;Project&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;7 views / 2 faves&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;
                        &lt;div class=&quot;lead-buttons&quot;&gt;
                            {{&gt; molecules-buttons-posts-edit-alt }}
                        &lt;/div&gt;
                    &lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;td&gt;&lt;a href=&quot;{{ link.pages-job-seeker-advice-single }}&quot;&gt;What It's Like to Work at Amazon.com&lt;/a&gt;
                        &lt;br/&gt;&lt;span class=&quot;small&quot;&gt;07/22/15 9:09 AM&lt;/span&gt;&lt;/td&gt;
                    &lt;td&gt;Article&lt;/td&gt;
                    &lt;td&gt;&lt;a href=&quot;#&quot;&gt;3 views / 0 faves&lt;/a&gt;&lt;/td&gt;
                    &lt;td&gt;
                        &lt;div class=&quot;lead-buttons&quot;&gt;
                            {{&gt; molecules-buttons-posts-edit-alt }}
                        &lt;/div&gt;
                    &lt;/td&gt;
                &lt;/tr&gt;
                &lt;/tbody&gt;
            &lt;/table&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;