&lt;div id=&quot;theme-wrapper&quot; class=&quot;card-posting&quot;&gt;
    {{&gt; organisms-header }}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;nav-col&quot;&gt;
                &lt;section id=&quot;col-left&quot; class=&quot;col-left-nano&quot;&gt;
                    &lt;div id=&quot;col-left-inner&quot; class=&quot;col-left-nano-content&quot;&gt;
                        {{&gt; molecules-employer-left-nav }}
                    &lt;/div&gt;
                &lt;/section&gt;
            &lt;/div&gt;

            &lt;div id=&quot;content-wrapper&quot;&gt;

                &lt;div class=&quot;row visible-xs&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;
                        &lt;div class=&quot;main-box card padding-20&quot;&gt;
                            &lt;img src=&quot;../../images/company-logo-wwt.png&quot; class=&quot;mobile-employer-logo&quot; /&gt;
                            &lt;h2 style=&quot;color:#e93f3c;&quot; class=&quot;mobile-employer-headline&quot;&gt;Hi we're World Wide Technology and we save our customers time and money by serving all their technology needs under one roof, and being their one trusted provider that knows them best.&lt;/h2&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;
                        &lt;div class=&quot;main-box card card-image transparent-box-container&quot;&gt;
                            &lt;div class=&quot;transparent-image-box hidden-xs&quot;&gt;
                                &lt;img src=&quot;../../images/company-logo-wwt.png&quot; class=&quot;transparent-box-employer-logo&quot;/&gt;
                                &lt;h2 class=&quot;transparent-image-box-headline&quot; style=&quot;color:#e93f3c;&quot;&gt;Hi we're World Wide Technology and we save our customers time and money by serving all their technology needs under one roof, and being their one trusted provider that knows them best.&lt;/h2&gt;
                            &lt;/div&gt;
                            &lt;img src=&quot;../../images/employers.jpg&quot; alt=&quot;&quot; class=&quot;employer-hero-image&quot;/&gt;
                            &lt;ul class=&quot;employer-anchor-nav&quot;&gt;
                                &lt;li&gt;&lt;a href=&quot;#overview&quot;&gt;Overview&lt;/a&gt;&lt;/li&gt;
                                &lt;li&gt;&lt;a href=&quot;#jobs&quot;&gt;Jobs&lt;/a&gt;&lt;/li&gt;
                                &lt;li&gt;&lt;a href=&quot;#reputation&quot;&gt;Reputation&lt;/a&gt;&lt;/li&gt;
                                &lt;!--&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Industry&lt;/a&gt;&lt;/li&gt;--&gt;
                                &lt;!--&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Benefits&lt;/a&gt;&lt;/li&gt;--&gt;
                                &lt;!--&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Social&lt;/a&gt;&lt;/li&gt;--&gt;
                            &lt;/ul&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;row&quot; id=&quot;overview&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;
                        &lt;div class=&quot;main-box-overflow-hidden card&quot;&gt;
                            &lt;div class=&quot;row&quot;&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;row&quot;&gt;
                                &lt;div class=&quot;col-sm-6 employer-intro-text&quot;&gt;
                                    &lt;p style=&quot;color:#2b80c8&quot; class=&quot;employer-lede&quot;&gt;We bring an innovative and proven approach to how organizations around the world discover, evaluate, architect andimplement technology.&lt;/p&gt;
                                    &lt;p&gt;WWT works closely with industry leaders such as Cisco, HP, EMC, NetApp, Citrix, VMware and Dell, focusing on: Fortune 500 companies, service providers and the public sector.&lt;/p&gt;
                                    &lt;p&gt;WWT employs more than 3,000 people and operates more than 2 million square feet of state-of-the-art warehousing, distribution and integration space strategically located throughout the world. WWT has been named on FORTUNE &ldquo;100 Best Places to Work For&reg;&rdquo;&nbsp;for four consecutive year.&lt;/p&gt;
                                    &lt;hr /&gt;
                                    &lt;p class=&quot;employer-at-a-glance&quot;&gt;Benefits&lt;/p&gt;
                                    &lt;ul&gt;
                                        &lt;li&gt;Tuition Reimbursement&lt;/li&gt;
                                        &lt;li&gt;Medical Coverage&lt;/li&gt;
                                    &lt;/ul&gt;&lt;hr /&gt;
                                    &lt;p class=&quot;employer-at-a-glance&quot;&gt;At a Glance&lt;/p&gt;
                                    &lt;ul&gt;
                                        &lt;li&gt;HQ: San Franscisco, CA&lt;/li&gt;
                                        &lt;li&gt;Founded: 1852&lt;/li&gt;
                                        &lt;li&gt;# of Employees: 265000&lt;/li&gt;
                                        &lt;li&gt;&lt;a style=&quot;color: #2b80c8&quot; href=&quot;#&quot;&gt;Website&lt;/a&gt;&lt;/li&gt;
                                    &lt;/ul&gt;
                                    &lt;hr class=&quot;visible-xs&quot; style=&quot;margin-bottom:-30px;&quot;/&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;col-sm-6 padding-right-30 padding-bottom-30 padding-left-30-xs&quot;&gt;

                                    &lt;div class=&quot;google-maps employer-detail-map margin-top-30&quot;&gt;
                                        &lt;iframe  src=&quot;https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100939.98569006259!2d-122.50781171223302!3d37.75781489468121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA!5e0!3m2!1sen!2sus!4v1459814231493&quot; frameborder=&quot;0&quot; style=&quot;border:0&quot; allowfullscreen&gt;&lt;/iframe&gt;                                &lt;/div&gt;
                                    &lt;/div&gt;

                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;row&quot; id=&quot;jobs&quot;&gt;
                    &lt;div class=&quot;employer-detail-jobs col-sm-6&quot; &gt;
                       {{&gt; organisms-browse-jobs-multiple-employer }}
                    &lt;/div&gt;

                    &lt;div class=&quot;employer-detail-jobs col-sm-6&quot; &gt;
                        {{&gt; organisms-browse-jobs-multiple-employer }}
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;row&quot; id=&quot;reputation&quot;&gt;
                    &lt;div class=&quot;col-sm-12&quot;&gt;

                    &lt;div class=&quot;main-box card-purple card&quot;&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-sm-12 text-center margin-top-20&quot;&gt;
                                &lt;div class=&quot;col-sm-6&quot;&gt;
                                    &lt;h4&gt;Work / Life Balance &lt;a data-original-title=&quot;How current employees feel about not having to work all the time.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;
                                    &lt;div class=&quot;stars&quot;&gt;
                                        &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                        &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                        &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                        &lt;img src=&quot;../../img/stars/star-half.png&quot; /&gt;
                                        &lt;img src=&quot;../../img/stars/star-empty.png&quot; /&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;col-sm-6&quot;&gt;
                                    &lt;h4&gt;Opportunity &lt;a data-original-title=&quot;How current employees feel about the ability to advance within the company.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;
                                    &lt;div class=&quot;stars&quot;&gt;
                                        &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                        &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                        &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                        &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                        &lt;img src=&quot;../../img/stars/star-half.png&quot; /&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;col-sm-12 text-center&quot;&gt;
                                &lt;div class=&quot;col-xs-6&quot;&gt;
                                    &lt;h4&gt;Culture &amp; Values &lt;a data-original-title=&quot;How employees measure company culture.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;
                                    &lt;div class=&quot;stars&quot;&gt;
                                        &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                        &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                        &lt;img src=&quot;../../img/stars/star-empty.png&quot; /&gt;
                                        &lt;img src=&quot;../../img/stars/star-empty.png&quot; /&gt;
                                        &lt;img src=&quot;../../img/stars/star-empty.png&quot; /&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;col-xs-6&quot;&gt;
                                    &lt;h4&gt;Leadership &lt;a data-original-title=&quot;How employees measure the vision and confidence in the company\'s executive team.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;
                                    &lt;div class=&quot;stars&quot;&gt;
                                        &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                        &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                        &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                        &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                        &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;col-sm-12 text-center margin-top-20&quot;&gt;
                                &lt;p class=&quot;small&quot;&gt;&lt;a href='http://www.glassdoor.com/index.htm'&gt;powered by &lt;img src='http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /&gt;&lt;/a&gt;&lt;/p&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;

                    &lt;/div&gt;
                &lt;/div&gt;


                &lt;!--&lt;div class=&quot;row&quot;&gt;--&gt;
                    &lt;!--&lt;div class=&quot;col-lg-12&quot;&gt;--&gt;

                        &lt;!--&lt;div class=&quot;row&quot;&gt;--&gt;
                            &lt;!--&lt;div class=&quot;posting-wrapper&quot;&gt;--&gt;
                                &lt;!--&lt;div class=&quot;col-lg-8&quot;&gt;--&gt;
                                    &lt;!--&lt;div class=&quot;main-box clearfix heading-with-sub-heading&quot;&gt;--&gt;
                                        &lt;!--&lt;h1&gt;World Wide Technology, Inc.&lt;/h1&gt;--&gt;
                                        &lt;!--&lt;h2&gt;Help Genius Scientists Put Their Work in the Hands of Millions&lt;/h2&gt;--&gt;
                                    &lt;!--&lt;/div&gt;--&gt;

                                    &lt;!--&lt;div class=&quot;hidden-lg&quot;&gt;--&gt;
                                        &lt;!--{{&gt; organisms-bdubs-conversation-small }}--&gt;
                                    &lt;!--&lt;/div&gt;--&gt;

                                    &lt;!--&lt;div class=&quot;row&quot;&gt;--&gt;
                                        &lt;!--&lt;div class=&quot;col-md-12&quot;&gt;--&gt;
                                            &lt;!--&lt;div class=&quot;main-box card card-image&quot;&gt;--&gt;

                                                &lt;!--&lt;img src=&quot;{{img.pediatrics.src}}&quot; alt=&quot;{{img.pediatrics.alt}}&quot; /&gt;--&gt;
                                                &lt;!--&lt;hr /&gt;--&gt;
                                                &lt;!--&lt;p&gt;At Veterans Health Administration we serve over 2.4 million customers. We help genius scientists put their work in the hands of millions.&lt;/p&gt;--&gt;
                                                &lt;!--&lt;p&gt;Our mission is to power the quality of life while securing a energy future for America. We are the largest electric power provider in Missouri and third largest natural gas distribution operation in Illinois. Our companies generate a net capacity of nearly 10,200 megawatts of electricity and own more than 7,500 circuit miles of transmission lines.&lt;/p&gt;--&gt;
                                                &lt;!--&lt;p&gt;Benefits&lt;/p&gt;--&gt;
                                                &lt;!--&lt;ul&gt;--&gt;
                                                    &lt;!--&lt;li&gt;Life Insurance&lt;/li&gt;--&gt;
                                                    &lt;!--&lt;li&gt;Work/Life Assistance&lt;/li&gt;--&gt;
                                                    &lt;!--&lt;li&gt;Retirment Plan&lt;/li&gt;--&gt;
                                                    &lt;!--&lt;li&gt;Educational Assistance&lt;/li&gt;--&gt;
                                                &lt;!--&lt;/ul&gt;--&gt;

                                            &lt;!--&lt;/div&gt;--&gt;
                                        &lt;!--&lt;/div&gt;--&gt;
                                    &lt;!--&lt;/div&gt;--&gt;

                                    &lt;!--&lt;div class=&quot;hidden-lg&quot;&gt;--&gt;
                                        &lt;!--&lt;div class=&quot;main-box card&quot;&gt;--&gt;
                                            &lt;!--&lt;h2&gt;Details&lt;/h2&gt;--&gt;
                                            &lt;!--&lt;div class=&quot;row&quot;&gt;--&gt;
                                                &lt;!--&lt;div class=&quot;col-xs-6&quot;&gt;--&gt;
                                                    &lt;!--&lt;img src=&quot;/img/job-new/va-logo.png&quot; width=&quot;100%&quot;&gt;--&gt;
                                                &lt;!--&lt;/div&gt;--&gt;
                                                &lt;!--&lt;div class=&quot;col-xs-5&quot;&gt;--&gt;
                                                    &lt;!--&lt;h4&gt;Veterans Health Administration&lt;/h4&gt;--&gt;
                                                    &lt;!--&lt;ul&gt;--&gt;
                                                        &lt;!--&lt;li&gt;HQ: Indianapolis, IN&lt;/li&gt;--&gt;
                                                        &lt;!--&lt;li&gt;Founded: 1997&lt;/li&gt;--&gt;
                                                        &lt;!--&lt;li&gt;Revenue: $9.7B&lt;/li&gt;--&gt;
                                                        &lt;!--&lt;li&gt;# of Employees: 9,200&lt;/li&gt;--&gt;
                                                    &lt;!--&lt;/ul&gt;--&gt;
                                                &lt;!--&lt;/div&gt;--&gt;
                                            &lt;!--&lt;/div&gt;--&gt;
                                            &lt;!--&lt;div class=&quot;row&quot;&gt;--&gt;
                                                &lt;!--&lt;div class=&quot;col-sm-12&quot;&gt;--&gt;
                                                    &lt;!--&lt;ul class=&quot;bottom-links&quot;&gt;--&gt;
                                                        &lt;!--&lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;Website&lt;/a&gt;&lt;/li&gt;--&gt;
                                                        &lt;!--&lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;&lt;span class=&quot;fa fa-twitter&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;--&gt;
                                                        &lt;!--&lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;&lt;span class=&quot;fa fa-facebook&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;--&gt;
                                                        &lt;!--&lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;&lt;span class=&quot;fa fa-linkedin&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;--&gt;
                                                        &lt;!--&lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;&lt;span class=&quot;fa fa-youtube&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;--&gt;
                                                    &lt;!--&lt;/ul&gt;--&gt;
                                                &lt;!--&lt;/div&gt;--&gt;
                                            &lt;!--&lt;/div&gt;--&gt;
                                        &lt;!--&lt;/div&gt;--&gt;
                                    &lt;!--&lt;/div&gt;--&gt;

                                    &lt;!--&lt;div class=&quot;hidden-lg&quot;&gt;--&gt;

                                        &lt;!--&lt;div class=&quot;main-box card-orange card&quot;&gt;--&gt;
                                            &lt;!--&lt;h2&gt;Location&lt;/h2&gt;--&gt;
                                            &lt;!--&lt;div class=&quot;row&quot;&gt;--&gt;
                                                &lt;!--&lt;div class=&quot;col-xs-6&quot;&gt;--&gt;
                                                    &lt;!--&lt;img src=&quot;/img/job-new/map.png&quot; width=&quot;100%&quot;/&gt;--&gt;
                                                &lt;!--&lt;/div&gt;--&gt;
                                                &lt;!--&lt;div class=&quot;col-xs-5&quot;&gt;--&gt;
                                                    &lt;!--&lt;h4&gt;Indianapolis, IN&lt;/h4&gt;--&gt;
                                                    &lt;!--&lt;ul&gt;--&gt;
                                                        &lt;!--&lt;li&gt;Population: 820,445&lt;/li&gt;--&gt;
                                                        &lt;!--&lt;li&gt;Avg. Monthly Cost: 2.5k&lt;/li&gt;--&gt;
                                                        &lt;!--&lt;li&gt;Humid Continental Climate&lt;/li&gt;--&gt;
                                                    &lt;!--&lt;/ul&gt;--&gt;
                                                &lt;!--&lt;/div&gt;--&gt;
                                            &lt;!--&lt;/div&gt;--&gt;
                                            &lt;!--&lt;div class=&quot;row&quot;&gt;--&gt;
                                                &lt;!--&lt;div class=&quot;col-sm-12&quot;&gt;--&gt;
                                                    &lt;!--&lt;ul class=&quot;bottom-links&quot;&gt;--&gt;
                                                        &lt;!--&lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;Events&lt;/a&gt;&lt;/li&gt;--&gt;
                                                    &lt;!--&lt;/ul&gt;--&gt;
                                                &lt;!--&lt;/div&gt;--&gt;
                                            &lt;!--&lt;/div&gt;--&gt;
                                        &lt;!--&lt;/div&gt;--&gt;

                                        &lt;!--&lt;div class=&quot;main-box card-purple card job-detail-card&quot;&gt;--&gt;
                                            &lt;!--&lt;h2&gt;Reputation&lt;/h2&gt;--&gt;
                                            &lt;!--&lt;div class=&quot;row&quot;&gt;--&gt;
                                                &lt;!--&lt;div class=&quot;col-xs-12 text-center margin-top-60&quot;&gt;--&gt;
                                                    &lt;!--&lt;div class=&quot;col-xs-6&quot;&gt;--&gt;
                                                        &lt;!--&lt;h4&gt;Work / Life Balance &lt;a data-original-title=&quot;How current employees feel about not having to work all the time.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;--&gt;
                                                        &lt;!--&lt;p&gt;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#189;&lt;/p&gt;--&gt;
                                                    &lt;!--&lt;/div&gt;--&gt;
                                                    &lt;!--&lt;div class=&quot;col-xs-6&quot;&gt;--&gt;
                                                        &lt;!--&lt;h4&gt;Opportunity &lt;a data-original-title=&quot;How current employees feel about the ability to advance within the company.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;--&gt;
                                                        &lt;!--&lt;p&gt;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#189;&lt;/p&gt;--&gt;
                                                    &lt;!--&lt;/div&gt;--&gt;
                                                &lt;!--&lt;/div&gt;--&gt;
                                                &lt;!--&lt;div class=&quot;col-xs-12 text-center&quot;&gt;--&gt;
                                                    &lt;!--&lt;div class=&quot;col-xs-6&quot;&gt;--&gt;
                                                        &lt;!--&lt;h4&gt;Culture &amp; Values &lt;a data-original-title=&quot;How employees measure company culture.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;--&gt;
                                                        &lt;!--&lt;p&gt;&amp;#9733;&amp;#9733;&lt;/p&gt;--&gt;
                                                    &lt;!--&lt;/div&gt;--&gt;
                                                    &lt;!--&lt;div class=&quot;col-xs-6&quot;&gt;--&gt;
                                                        &lt;!--&lt;h4&gt;Leadership &lt;a data-original-title=&quot;How employees measure the vision and confidence in the company\'s executive team.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;--&gt;
                                                        &lt;!--&lt;p&gt;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#189;&lt;/p&gt;--&gt;
                                                    &lt;!--&lt;/div&gt;--&gt;
                                                &lt;!--&lt;/div&gt;--&gt;
                                                &lt;!--&lt;div class=&quot;col-sm-12 text-center margin-top-20&quot;&gt;--&gt;
                                                    &lt;!--&lt;p class=&quot;small&quot;&gt;&lt;a href='http://www.glassdoor.com/index.htm'&gt;powered by &lt;img src='http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /&gt;&lt;/a&gt;&lt;/p&gt;--&gt;
                                                &lt;!--&lt;/div&gt;--&gt;
                                            &lt;!--&lt;/div&gt;--&gt;

                                        &lt;!--&lt;/div&gt;--&gt;

                                        &lt;!--&lt;div class=&quot;main-box card&quot;&gt;--&gt;
                                            &lt;!--&lt;h2&gt;Contact Information&lt;/h2&gt;--&gt;
                                            &lt;!--&lt;div class=&quot;main-box-body clearfix&quot;&gt;--&gt;
                                                &lt;!--&lt;div class=&quot;col-sm-12&quot;&gt;--&gt;
                                                    &lt;!--&lt;ul class=&quot;fa-ul no-padding no-image&quot;&gt;--&gt;
                                                        &lt;!--&lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Name: &lt;strong&gt;Joshua Thomas&lt;/strong&gt;&lt;/li&gt;--&gt;
                                                        &lt;!--&lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Email: &lt;a href=&quot;#&quot;&gt;hiring@carouse...ics.com&lt;/a&gt;&lt;/li&gt;--&gt;
                                                        &lt;!--&lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Phone: &lt;strong&gt;(312) 999-9999&lt;/strong&gt;&lt;/li&gt;--&gt;
                                                    &lt;!--&lt;/ul&gt;--&gt;
                                                &lt;!--&lt;/div&gt;--&gt;
                                            &lt;!--&lt;/div&gt;--&gt;
                                        &lt;!--&lt;/div&gt;--&gt;
                                    &lt;!--&lt;/div&gt;--&gt;



                                &lt;!--&lt;/div&gt;--&gt;

                                &lt;!--&lt;div class=&quot;col-lg-4 visible-lg&quot;&gt;--&gt;
                                    &lt;!--&lt;div class=&quot;main-box card&quot;&gt;--&gt;
                                        &lt;!--&lt;h2&gt;Details&lt;/h2&gt;--&gt;
                                        &lt;!--&lt;div class=&quot;row&quot;&gt;--&gt;
                                            &lt;!--&lt;div class=&quot;col-lg-6&quot;&gt;--&gt;
                                                &lt;!--&lt;img src=&quot;/img/job-new/va-logo.png&quot; width=&quot;100%&quot;&gt;--&gt;
                                            &lt;!--&lt;/div&gt;--&gt;
                                            &lt;!--&lt;div class=&quot;col-lg-5&quot;&gt;--&gt;
                                                &lt;!--&lt;h4&gt;Veterans Health Administration&lt;/h4&gt;--&gt;
                                                &lt;!--&lt;ul&gt;--&gt;
                                                    &lt;!--&lt;li&gt;HQ: Indianapolis, IN&lt;/li&gt;--&gt;
                                                    &lt;!--&lt;li&gt;Founded: 1997&lt;/li&gt;--&gt;
                                                    &lt;!--&lt;li&gt;Revenue: $9.7B&lt;/li&gt;--&gt;
                                                    &lt;!--&lt;li&gt;# of Employees: 9,200&lt;/li&gt;--&gt;
                                                &lt;!--&lt;/ul&gt;--&gt;
                                            &lt;!--&lt;/div&gt;--&gt;
                                        &lt;!--&lt;/div&gt;--&gt;
                                        &lt;!--&lt;div class=&quot;row&quot;&gt;--&gt;
                                            &lt;!--&lt;div class=&quot;col-sm-12&quot;&gt;--&gt;
                                                &lt;!--&lt;ul class=&quot;bottom-links&quot;&gt;--&gt;
                                                    &lt;!--&lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;Website&lt;/a&gt;&lt;/li&gt;--&gt;
                                                    &lt;!--&lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;&lt;span class=&quot;fa fa-twitter&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;--&gt;
                                                    &lt;!--&lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;&lt;span class=&quot;fa fa-facebook&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;--&gt;
                                                    &lt;!--&lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;&lt;span class=&quot;fa fa-linkedin&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;--&gt;
                                                    &lt;!--&lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;&lt;span class=&quot;fa fa-youtube&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;--&gt;
                                                &lt;!--&lt;/ul&gt;--&gt;
                                            &lt;!--&lt;/div&gt;--&gt;
                                        &lt;!--&lt;/div&gt;--&gt;
                                    &lt;!--&lt;/div&gt;--&gt;
                                &lt;!--&lt;/div&gt;--&gt;

                                &lt;!--&lt;div class=&quot;col-lg-4 visible-lg&quot;&gt;--&gt;

                                    &lt;!--&lt;div class=&quot;main-box card-orange card&quot;&gt;--&gt;
                                        &lt;!--&lt;h2&gt;Location&lt;/h2&gt;--&gt;
                                        &lt;!--&lt;div class=&quot;row&quot;&gt;--&gt;
                                            &lt;!--&lt;div class=&quot;col-sm-6&quot;&gt;--&gt;
                                                &lt;!--&lt;img src=&quot;/img/job-new/map.png&quot; width=&quot;100%&quot;/&gt;--&gt;
                                            &lt;!--&lt;/div&gt;--&gt;
                                            &lt;!--&lt;div class=&quot;col-sm-5&quot;&gt;--&gt;
                                                &lt;!--&lt;h4&gt;Indianapolis, IN&lt;/h4&gt;--&gt;
                                                &lt;!--&lt;ul&gt;--&gt;
                                                    &lt;!--&lt;li&gt;Population: 820,445&lt;/li&gt;--&gt;
                                                    &lt;!--&lt;li&gt;Avg. Monthly Cost: 2.5k&lt;/li&gt;--&gt;
                                                    &lt;!--&lt;li&gt;Humid Continental Climate&lt;/li&gt;--&gt;
                                                &lt;!--&lt;/ul&gt;--&gt;
                                            &lt;!--&lt;/div&gt;--&gt;
                                        &lt;!--&lt;/div&gt;--&gt;
                                        &lt;!--&lt;div class=&quot;row&quot;&gt;--&gt;
                                            &lt;!--&lt;div class=&quot;col-sm-12&quot;&gt;--&gt;
                                                &lt;!--&lt;ul class=&quot;bottom-links&quot;&gt;--&gt;
                                                    &lt;!--&lt;li&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;Events&lt;/a&gt;&lt;/li&gt;--&gt;
                                                &lt;!--&lt;/ul&gt;--&gt;
                                            &lt;!--&lt;/div&gt;--&gt;
                                        &lt;!--&lt;/div&gt;--&gt;
                                    &lt;!--&lt;/div&gt;--&gt;

                                    &lt;!--&lt;div class=&quot;main-box card-purple card job-detail-card&quot;&gt;--&gt;
                                        &lt;!--&lt;h2&gt;Reputation&lt;/h2&gt;--&gt;
                                        &lt;!--&lt;div class=&quot;row&quot;&gt;--&gt;
                                            &lt;!--&lt;div class=&quot;col-sm-12 text-center margin-top-60&quot;&gt;--&gt;
                                                &lt;!--&lt;div class=&quot;col-sm-6&quot;&gt;--&gt;
                                                    &lt;!--&lt;h4&gt;Work / Life Balance &lt;a data-original-title=&quot;How current employees feel about not having to work all the time.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;--&gt;
                                                    &lt;!--&lt;p&gt;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#189;&lt;/p&gt;--&gt;
                                                &lt;!--&lt;/div&gt;--&gt;
                                                &lt;!--&lt;div class=&quot;col-sm-6&quot;&gt;--&gt;
                                                    &lt;!--&lt;h4&gt;Opportunity &lt;a data-original-title=&quot;How current employees feel about the ability to advance within the company.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;--&gt;
                                                    &lt;!--&lt;p&gt;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#189;&lt;/p&gt;--&gt;
                                                &lt;!--&lt;/div&gt;--&gt;
                                            &lt;!--&lt;/div&gt;--&gt;
                                            &lt;!--&lt;div class=&quot;col-sm-12 text-center&quot;&gt;--&gt;
                                                &lt;!--&lt;div class=&quot;col-xs-6&quot;&gt;--&gt;
                                                    &lt;!--&lt;h4&gt;Culture &amp; Values &lt;a data-original-title=&quot;How employees measure company culture.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;--&gt;
                                                    &lt;!--&lt;p&gt;&amp;#9733;&amp;#9733;&lt;/p&gt;--&gt;
                                                &lt;!--&lt;/div&gt;--&gt;
                                                &lt;!--&lt;div class=&quot;col-xs-6&quot;&gt;--&gt;
                                                    &lt;!--&lt;h4&gt;Leadership &lt;a data-original-title=&quot;How employees measure the vision and confidence in the company\'s executive team.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;--&gt;
                                                    &lt;!--&lt;p&gt;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#9733;&amp;#189;&lt;/p&gt;--&gt;
                                                &lt;!--&lt;/div&gt;--&gt;
                                            &lt;!--&lt;/div&gt;--&gt;
                                            &lt;!--&lt;div class=&quot;col-sm-12 text-center margin-top-20&quot;&gt;--&gt;
                                                &lt;!--&lt;p class=&quot;small&quot;&gt;&lt;a href='http://www.glassdoor.com/index.htm'&gt;powered by &lt;img src='http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /&gt;&lt;/a&gt;&lt;/p&gt;--&gt;
                                            &lt;!--&lt;/div&gt;--&gt;
                                        &lt;!--&lt;/div&gt;--&gt;

                                    &lt;!--&lt;/div&gt;--&gt;

                                    &lt;!--&lt;div class=&quot;main-box card&quot;&gt;--&gt;
                                        &lt;!--&lt;h2&gt;Contact Information&lt;/h2&gt;--&gt;
                                        &lt;!--&lt;div class=&quot;main-box-body clearfix&quot;&gt;--&gt;
                                            &lt;!--&lt;div class=&quot;col-sm-12&quot;&gt;--&gt;
                                                &lt;!--&lt;ul class=&quot;fa-ul no-padding no-image&quot;&gt;--&gt;
                                                    &lt;!--&lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Name: &lt;strong&gt;Joshua Thomas&lt;/strong&gt;&lt;/li&gt;--&gt;
                                                    &lt;!--&lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Email: &lt;a href=&quot;#&quot;&gt;hiring@carouse...ics.com&lt;/a&gt;&lt;/li&gt;--&gt;
                                                    &lt;!--&lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Phone: &lt;strong&gt;(312) 999-9999&lt;/strong&gt;&lt;/li&gt;--&gt;
                                                &lt;!--&lt;/ul&gt;--&gt;
                                            &lt;!--&lt;/div&gt;--&gt;
                                        &lt;!--&lt;/div&gt;--&gt;
                                    &lt;!--&lt;/div&gt;--&gt;
                                &lt;!--&lt;/div&gt;--&gt;
                            &lt;!--&lt;/div&gt;--&gt;
                        &lt;!--&lt;/div&gt;--&gt;

                    &lt;!--&lt;/div&gt;--&gt;
                &lt;!--&lt;/div&gt;--&gt;

                {{&gt; organisms-footer }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;