&lt;div id=&quot;theme-wrapper&quot;&gt;
    {{&gt; organisms-header }}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;nav-col&quot;&gt;
                &lt;section id=&quot;col-left&quot; class=&quot;col-left-nano&quot;&gt;
                    &lt;div id=&quot;col-left-inner&quot; class=&quot;col-left-nano-content&quot;&gt;
                        {{&gt; molecules-cs-left-nav }}
                    &lt;/div&gt;
                &lt;/section&gt;
            &lt;/div&gt;
            &lt;div id=&quot;content-wrapper&quot;&gt;


                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-8&quot;&gt;
                        &lt;div class=&quot;main-box tab-box minimal-tabs&quot;&gt;
                            &lt;div class=&quot;bs-example bs-example-tabs&quot; data-example-id=&quot;togglable-tabs&quot;&gt;
                                &lt;ul id=&quot;myTabs&quot; class=&quot;nav nav-tabs&quot; role=&quot;tablist&quot;&gt;
                                    &lt;li role=&quot;presentation&quot; class=&quot;active&quot;&gt;&lt;a href=&quot;#personal-info-tab&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot; aria-controls=&quot;resumes&quot; aria-expanded=&quot;true&quot;&gt;Contact Info&lt;/a&gt;&lt;/li&gt;
                                &lt;/ul&gt;
                                &lt;div id=&quot;myTabContent&quot; class=&quot;tab-content&quot;&gt;
                                    &lt;div role=&quot;tabpanel&quot; class=&quot;tab-pane fade in active&quot; id=&quot;resumes-tab&quot; aria-labelledBy=&quot;resumes-tab&quot;&gt;

                                        &lt;form role=&quot;form&quot;&gt;
                                            &lt;div class=&quot;row&quot;&gt;
                                                &lt;div class=&quot;form-group&quot;&gt;
                                                    &lt;label for=&quot;school&quot;&gt;Name&lt;/label&gt;
                                                    &lt;div class=&quot;input-group&quot;&gt;
                                                        &lt;input id=&quot;school&quot; class=&quot;form-control&quot; placeholder=&quot;&quot; type=&quot;text&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;

                                                &lt;div class=&quot;form-group&quot;&gt;
                                                    &lt;label for=&quot;school&quot;&gt;Phone&lt;/label&gt;
                                                    &lt;div class=&quot;input-group&quot;&gt;
                                                        &lt;input id=&quot;school&quot; class=&quot;form-control&quot; placeholder=&quot;&quot; type=&quot;text&quot;&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;



                                            &lt;/div&gt;

                                            &lt;div class=&quot;row&quot;&gt;
                                                &lt;div class=&quot;col-md-6&quot;&gt;
                                                    &lt;button type=&quot;submit&quot; class=&quot;btn btn-success&quot;&gt;Save Details&lt;/button&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;

                                        &lt;/form&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;&lt;!-- /example --&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;

                &lt;/div&gt;

                {{&gt; organisms-footer }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;