&lt;div class=&quot;btn-group&quot;&gt;
    &lt;button type=&quot;submit&quot; class=&quot;btn btn-danger&quot; data-toggle=&quot;modal&quot; data-target=&quot;#create-note-modal&quot;&gt;
        &lt;span class=&quot;fa fa-times&quot;&gt;&amp;nbsp;Pass&lt;/span&gt;
    &lt;/button&gt;
&lt;/div&gt;
&lt;div class=&quot;btn-group&quot;&gt;
    &lt;button type=&quot;submit&quot; data-toggle=&quot;modal&quot; data-target=&quot;#create-note-modal&quot; class=&quot;btn btn-primary&quot;&gt;
        &lt;span class=&quot;fa fa-heart&quot;&gt;&amp;nbsp;Favorite&lt;/span&gt;
    &lt;/button&gt;
&lt;/div&gt;
&lt;div class=&quot;btn-group dropup&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-default dropdown-toggle&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;false&quot;&gt;
        &lt;span class=&quot;fa fa-ellipsis-h&quot;&gt;&lt;/span&gt;
        &lt;span class=&quot;sr-only&quot;&gt;Toggle Dropdown&lt;/span&gt;
    &lt;/button&gt;
    &lt;ul class=&quot;dropdown-menu&quot;&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot; data-toggle=&quot;modal&quot; data-target=&quot;#new-message-modal&quot;&gt;&lt;span class=&quot;fa fa-send&quot;&gt;&lt;/span&gt;&amp;nbsp;Send Message&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;fa fa-share&quot;&gt;&lt;/span&gt;&amp;nbsp;Share&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;fa fa-paperclip&quot;&gt;&lt;/span&gt;&amp;nbsp;Create Note&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;