&lt;div class=&quot;btn-group dropup&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-primary dropdown-toggle&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;false&quot;&gt;
        &lt;span class=&quot;fa fa-ellipsis-h&quot;&gt;&lt;/span&gt;
        &lt;span class=&quot;sr-only&quot;&gt;Toggle Dropdown&lt;/span&gt;
    &lt;/button&gt;
    &lt;ul class=&quot;dropdown-menu&quot;&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;fa fa-share&quot;&gt;&lt;/span&gt;&amp;nbsp;Share&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;fa fa-pencil&quot;&gt;&lt;/span&gt;&amp;nbsp;Edit&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;fa fa-archive&quot;&gt;&lt;/span&gt;&amp;nbsp;Archive&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;