&lt;div class=&quot;main-box clearfix&quot;&gt;
    &lt;div class=&quot;main-box-header&quot;&gt;
        &lt;h2&gt;My Overall Candidate Engagement&lt;/h2&gt;
    &lt;/div&gt;
    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
        &lt;div class=&quot;infographic-box margin-bottom-10 text-center&quot;&gt;
            &lt;div class=&quot;col-sm-1&quot;&gt;&lt;/div&gt;
            &lt;button class=&quot;col-sm-10 btn btn-lg btn-default&quot;&gt;
                35 searched&amp;nbsp;&lt;span class=&quot;fa fa-search&quot;&gt;&lt;/span&gt;
            &lt;/button&gt;
            &lt;div class=&quot;col-sm-1&quot;&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-12 margin-bottom-10 margin-top-10&quot;&gt;&lt;span class=&quot;fa fa-arrow-down&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-2&quot;&gt;&lt;/div&gt;
            &lt;button class=&quot;col-sm-8 btn btn-lg btn-primary&quot;&gt;
                4 viewed&amp;nbsp;&lt;span class=&quot;fa fa-user&quot;&gt;&lt;/span&gt;
            &lt;/button&gt;
            &lt;div class=&quot;col-sm-2&quot;&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-12 margin-bottom-10 margin-top-10&quot;&gt;&lt;span class=&quot;fa fa-arrow-down&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-3&quot;&gt;&lt;/div&gt;
            &lt;button class=&quot;col-sm-6 btn btn-lg btn-primary&quot;&gt;
                1 favorited&amp;nbsp;&lt;span class=&quot;fa fa-heart&quot;&gt;&lt;/span&gt;
            &lt;/button&gt;
            &lt;div class=&quot;col-sm-3&quot;&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-12 margin-bottom-10 margin-top-10&quot;&gt;&lt;span class=&quot;fa fa-arrow-down&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-4&quot;&gt;&lt;/div&gt;
            &lt;button class=&quot;col-sm-4 btn btn-lg btn-primary&quot;&gt;
                4 contacted&amp;nbsp;&lt;span class=&quot;fa fa-send&quot;&gt;&lt;/span&gt;
            &lt;/button&gt;
            &lt;div class=&quot;col-sm-4&quot;&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-12 margin-bottom-10 margin-top-10&quot;&gt;&lt;span class=&quot;fa fa-arrow-down&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-5&quot;&gt;&lt;/div&gt;
            &lt;button class=&quot;col-sm-2 btn btn-lg btn-success&quot;&gt;
                0 shared&amp;nbsp;&lt;span class=&quot;fa fa-share&quot;&gt;&lt;/span&gt;
            &lt;/button&gt;
            &lt;div class=&quot;col-sm-5&quot;&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
