&lt;div id=&quot;theme-wrapper&quot; class=&quot;jobs-home&quot;&gt;
    {{&gt; organisms-header-alt}}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;content-wrapper&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-md-10 col-md-offset-2&quot;&gt;

                        &lt;div class=&quot;row hidden-lg margin-bottom-16&quot;&gt;
                            &lt;div class=&quot;col-xs-4&quot;&gt;
                                &lt;!-- Button trigger modal --&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot; data-toggle=&quot;modal&quot; data-target=&quot;#myModal&quot;&gt;
                                    Post &lt;span class=&quot;fa fa-briefcase&quot;&gt;&lt;/span&gt;
                                &lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;

                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-md-8&quot;&gt;
                                {{&gt; organisms-employer-graphs }}
                                {{&gt; organisms-post-content-list }}
                            &lt;/div&gt;
                            &lt;div class=&quot;col-md-4&quot;&gt;
                                &lt;div class=&quot;row&quot;&gt;

                                    &lt;div class=&quot;col-xs-12&quot;&gt;

                                        {{&gt; organisms-post-wizard-button }}

                                    &lt;/div&gt;

                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-lg-12 hidden&quot;&gt;
                                {{&gt; molecules-morris-pie-chart }}
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;

                    {{&gt; organisms-footer }}
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
{{&gt; organisms-post-wizard-modal }}