&lt;div id=&quot;theme-wrapper&quot; class=&quot;card-posting&quot;&gt;
    {{&gt; organisms-header-alt}}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;content-wrapper&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-md-8 col-md-offset-2&quot;&gt;
                      &lt;div class=&quot;main-box card padding-20&quot;&gt;
                        &lt;div class=&quot;row&quot;&gt;
                          &lt;div class=&quot;col-xs-8&quot;&gt;
                            &lt;h1 class=&quot;employer-name&quot;&gt;World Wide Technology&lt;/h1&gt;
                          &lt;/div&gt;
                          &lt;div class=&quot;col-xs-4&quot;&gt;
                            &lt;img class=&quot;employer-logo&quot; src=&quot;../../images/company-logo-wwt.png&quot; /&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;row visible-lg&quot;&gt;
                          &lt;hr /&gt;
                          &lt;ul class=&quot;employer-anchor-nav&quot;&gt;
                              &lt;li&gt;&lt;a href=&quot;#overview&quot;&gt;Overview&lt;/a&gt;&lt;/li&gt;
                              &lt;li&gt;&lt;a href=&quot;#location&quot;&gt;Location&lt;/a&gt;&lt;/li&gt;
                              &lt;li&gt;&lt;a href=&quot;#photos&quot;&gt;Photos&lt;/a&gt;&lt;/li&gt;
                              &lt;li&gt;&lt;a href=&quot;#video&quot;&gt;Video&lt;/a&gt;&lt;/li&gt;
                              &lt;li&gt;&lt;a href=&quot;#jobs&quot;&gt;Jobs&lt;/a&gt;&lt;/li&gt;
                              &lt;li&gt;&lt;a href=&quot;#ratings&quot;&gt;Ratings&lt;/a&gt;&lt;/li&gt;
                              &lt;li&gt;&lt;a href=&quot;#social&quot;&gt;Social&lt;/a&gt;&lt;/li&gt;
                          &lt;/ul&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                  &lt;/div&gt;
              &lt;/div&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-md-8 col-md-offset-2&quot;&gt;
                        &lt;div class=&quot;main-box card card-image transparent-box-container&quot;&gt;
                            &lt;img src=&quot;../../images/employers.jpg&quot; alt=&quot;&quot; class=&quot;employer-hero-image&quot;/&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div id=&quot;overview&quot; class=&quot;anchor&quot;&gt;&lt;/div&gt;
                    &lt;div class=&quot;col-md-8 col-md-offset-2&quot;&gt;
                        &lt;div class=&quot;main-box-overflow-hidden card padding-bottom-30&quot;&gt;
                            &lt;div class=&quot;row&quot;&gt;
                                &lt;div class=&quot;col-sm-6 employer-intro-text&quot;&gt;
                                    &lt;div class=&quot;margin-right-20 visible-xs&quot;a&gt;{{&gt; organisms-favorite-button }}&lt;/div&gt;
                                    &lt;hr class=&quot;visible-xs&quot; /&gt;
                                    &lt;p class=&quot;employer-lede messaging&quot;&gt;Hi we're World Wide Technology and we save our customers time and money by serving all their technology needs under one roof, and being their one trusted provider that knows them best.&lt;/p&gt;
                                    &lt;p&gt;WWT works closely with industry leaders such as Cisco, HP, EMC, NetApp, Citrix, VMware and Dell, focusing on: Fortune 500 companies, service providers and the public sector.&lt;/p&gt;
                                    &lt;p&gt;WWT employs more than 3,000 people and operates more than 2 million square feet of state-of-the-art warehousing, distribution and integration space strategically located throughout the world. WWT has been named on FORTUNE &ldquo;100 Best Places to Work For&reg;&rdquo;&nbsp;for four consecutive year.&lt;/p&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;col-sm-6 employer-intro-text&quot;&gt;

                                    &lt;div class=&quot;text-right margin-right-20 hidden-xs&quot;&gt;{{&gt; organisms-favorite-button }}&lt;/div&gt;

                                    &lt;hr /&gt;

                                    &lt;p class=&quot;employer-at-a-glance employer-brand-primary&quot;&gt;At a Glance&lt;/p&gt;
                                    &lt;ul&gt;
                                        &lt;li&gt;HQ: San Franscisco, CA&lt;/li&gt;
                                        &lt;li&gt;Founded: 1852&lt;/li&gt;
                                        &lt;li&gt;# of Employees: 265000&lt;/li&gt;
                                    &lt;/ul&gt;

                                    &lt;hr /&gt;

                                    &lt;p class=&quot;employer-at-a-glance employer-brand-primary&quot;&gt;Benefits&lt;/p&gt;
                                    &lt;ul&gt;
                                        &lt;li&gt;Tuition Reimbursement&lt;/li&gt;
                                        &lt;li&gt;Medical Coverage&lt;/li&gt;
                                    &lt;/ul&gt;

                                    &lt;hr /&gt;

                                    &lt;p class=&quot;employer-at-a-glance employer-brand-primary&quot;&gt;Learn More&lt;/p&gt;
                                    &lt;ul&gt;
                                        &lt;li&gt;&lt;a class=&quot;employer-brand-secondary&quot; href=&quot;#&quot;&gt;Employer Website&lt;/a&gt;&lt;/li&gt;
                                    &lt;/ul&gt;

                                &lt;/div&gt;

                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div id=&quot;location&quot; class=&quot;anchor&quot;&gt;&lt;/div&gt;
                    &lt;div class=&quot;col-md-8 col-md-offset-2&quot;&gt;
                        &lt;div class=&quot;main-box-overflow-hidden card&quot;&gt;

                            &lt;div class=&quot;col-sm-6 padding-right-30 padding-left-30-xs  employer-intro-text&quot;&gt;
                                &lt;p class=&quot;employer-brand-secondary employer-lede&quot;&gt;San Francisco&lt;/p&gt;
                                &lt;ul&gt;
                                    &lt;li&gt;Cost of Living Index: &lt;strong&gt;77.63&lt;/strong&gt;&lt;/li&gt;
                                    &lt;li&gt;Apartment Rent (Monthly) - 1 Bedroom &lt;br /&gt;in City Center: &lt;strong&gt;$784&lt;/strong&gt;&lt;/li&gt;
                                    &lt;li&gt;Basic Utilities (Monthly): &lt;strong&gt;$156&lt;/strong&gt;&lt;/li&gt;
                                    &lt;li&gt;Monthly Transportation Pass: &lt;strong&gt;$80&lt;/strong&gt;&lt;/li&gt;
                                    &lt;li&gt;Average Monthly Disposable Salary &lt;br /&gt;(After Tax): &lt;strong&gt;$2,554&lt;/strong&gt;&lt;/li&gt;
                                &lt;/ul&gt;

                                &lt;hr /&gt;
                                &lt;p class=&quot;employer-at-a-glance&quot;&gt;Learn More&lt;/p&gt;
                                &lt;ul&gt;
                                    &lt;li&gt;&lt;a class=&quot;employer-brand-secondary&quot; href=&quot;#&quot;&gt;Events in San Francisco&lt;/a&gt;&lt;/li&gt;
                                &lt;/ul&gt;
                                &lt;hr class=&quot;visible-xs&quot; /&gt;

                            &lt;/div&gt;

                            &lt;div class=&quot;col-sm-6&quot;&gt;
                                &lt;div class=&quot;google-maps-wrapper&quot;&gt;
                                    &lt;div class=&quot;google-maps&quot;&gt;
                                        &lt;iframe  src=&quot;https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100939.98569006259!2d-122.50781171223302!3d37.75781489468121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA!5e0!3m2!1sen!2sus!4v1459814231493&quot; frameborder=&quot;0&quot; style=&quot;border:0&quot; allowfullscreen&gt;&lt;/iframe&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;

                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div id=&quot;photos&quot; class=&quot;anchor&quot;&gt;&lt;/div&gt;
                    &lt;div class=&quot;col-md-8 col-md-offset-2&quot;&gt;
                        &lt;div class=&quot;main-box-overflow-hidden card&quot; style=&quot;max-width:1200px; margin-left:auto; margin-right:auto;&quot;&gt;

                            &lt;div class=&quot;carousel slide&quot; data-ride=&quot;carousel&quot; id=
                                    &quot;carousel-example-captions&quot;&gt;
                                &lt;ol class=&quot;carousel-indicators&quot;&gt;
                                    &lt;li class=&quot;&quot; data-slide-to=&quot;0&quot; data-target=&quot;#carousel-example-captions&quot;&gt;
                                    &lt;/li&gt;
                                    &lt;li class=&quot;active&quot; data-slide-to=&quot;1&quot; data-target=
                                            &quot;#carousel-example-captions&quot;&gt;&lt;/li&gt;
                                    &lt;li class=&quot;&quot; data-slide-to=&quot;2&quot; data-target=&quot;#carousel-example-captions&quot;&gt;
                                    &lt;/li&gt;
                                &lt;/ol&gt;
                                &lt;div class=&quot;carousel-inner&quot; role=&quot;listbox&quot;&gt;
                                    &lt;div class=&quot;item&quot;&gt;
                                        &lt;img data-holder-rendered=&quot;true&quot; src=&quot;../../img/slideshow/slideshow-1.jpg&quot;&gt;
                                        &lt;div class=&quot;carousel-caption&quot;&gt;
                                            &lt;h3&gt;First slide label&lt;/h3&gt;
                                            &lt;p&gt;Nulla vitae elit libero, a pharetra augue mollis interdum.&lt;/p&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;item active&quot;&gt;
                                        &lt;img data-holder-rendered=&quot;true&quot; src=&quot;../../img/slideshow/slideshow-2.jpg&quot;&gt;
                                        &lt;div class=&quot;carousel-caption&quot;&gt;
                                            &lt;h3&gt;Second slide label&lt;/h3&gt;
                                            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&lt;/p&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;item&quot;&gt;
                                        &lt;img data-holder-rendered=&quot;true&quot; src=&quot;../../img/slideshow/slideshow-3.jpg&quot;&gt;
                                        &lt;div class=&quot;carousel-caption&quot;&gt;
                                            &lt;h3&gt;Third slide label&lt;/h3&gt;
                                            &lt;p&gt;Praesent commodo cursus magna, vel scelerisque nisl
                                                consectetur.&lt;/p&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;&lt;a class=&quot;left carousel-control&quot; data-slide=&quot;prev&quot; href=
                                    &quot;#carousel-example-captions&quot; role=&quot;button&quot;&gt;&lt;span aria-hidden=&quot;true&quot; class=
                                    &quot;glyphicon glyphicon-chevron-left&quot;&gt;&lt;/span&gt; &lt;span class=
                                                                                             &quot;sr-only&quot;&gt;Previous&lt;/span&gt;&lt;/a&gt; &lt;a class=&quot;right carousel-control&quot; data-slide=
                                    &quot;next&quot; href=&quot;#carousel-example-captions&quot; role=&quot;button&quot;&gt;&lt;span aria-hidden=
                                                                                                         &quot;true&quot; class=&quot;glyphicon glyphicon-chevron-right&quot;&gt;&lt;/span&gt; &lt;span class=
                                                                                                                                                                                &quot;sr-only&quot;&gt;Next&lt;/span&gt;&lt;/a&gt;
                            &lt;/div&gt;


                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;row&quot;&gt;

                  &lt;div class=&quot;col-md-8 col-md-offset-2&quot;&gt;
                    &lt;div class=&quot;main-box-overflow-hidden card&quot;&gt;
                      &lt;div id=&quot;video&quot; class=&quot;anchor&quot;&gt;&lt;/div&gt;
                        &lt;div class=&quot;col-sm-6 col-sm-offset-3 padding-20&quot;&gt;
                          &lt;div class=&quot;embed-responsive embed-responsive-16by9&quot;&gt;
                            &lt;iframe class=&quot;embed-responsive-item&quot; src=&quot;//www.youtube.com/embed/QH6FhxPB2KE&quot;&gt;&lt;/iframe&gt;
                          &lt;/div&gt;

                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;

                &lt;/div&gt;


                &lt;div class=&quot;row&quot;&gt;
                    &lt;div id=&quot;jobs&quot; class=&quot;anchor&quot;&gt;&lt;/div&gt;
                    &lt;div class=&quot;employer-detail-jobs col-sm-4 col-sm-offset-2&quot; &gt;
                        {{&gt; organisms-browse-jobs-multiple-employer }}
                    &lt;/div&gt;

                    &lt;div class=&quot;employer-detail-jobs col-sm-4&quot; &gt;
                        {{&gt; organisms-browse-jobs-multiple-employer }}
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div id=&quot;ratings&quot; class=&quot;anchor&quot;&gt;&lt;/div&gt;
                    &lt;div class=&quot;col-md-8 col-md-offset-2&quot;&gt;

                        &lt;div class=&quot;main-box card-purple card&quot;&gt;
                            &lt;div class=&quot;row&quot;&gt;
                                &lt;div class=&quot;col-sm-12 text-center margin-top-20&quot;&gt;
                                    &lt;div class=&quot;col-sm-6&quot;&gt;
                                        &lt;h4&gt;Work / Life Balance &lt;a data-original-title=&quot;How current employees feel about not having to work all the time.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;
                                        &lt;div class=&quot;stars&quot;&gt;
                                            &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                            &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                            &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                            &lt;img src=&quot;../../img/stars/star-half.png&quot; /&gt;
                                            &lt;img src=&quot;../../img/stars/star-empty.png&quot; /&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;col-sm-6&quot;&gt;
                                        &lt;h4&gt;Opportunity &lt;a data-original-title=&quot;How current employees feel about the ability to advance within the company.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;
                                        &lt;div class=&quot;stars&quot;&gt;
                                            &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                            &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                            &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                            &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                            &lt;img src=&quot;../../img/stars/star-half.png&quot; /&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;col-sm-12 text-center&quot;&gt;
                                    &lt;div class=&quot;col-xs-6&quot;&gt;
                                        &lt;h4&gt;Culture &amp; Values &lt;a data-original-title=&quot;How employees measure company culture.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;
                                        &lt;div class=&quot;stars&quot;&gt;
                                            &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                            &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                            &lt;img src=&quot;../../img/stars/star-empty.png&quot; /&gt;
                                            &lt;img src=&quot;../../img/stars/star-empty.png&quot; /&gt;
                                            &lt;img src=&quot;../../img/stars/star-empty.png&quot; /&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;col-xs-6&quot;&gt;
                                        &lt;h4&gt;Leadership &lt;a data-original-title=&quot;How employees measure the vision and confidence in the company\'s executive team.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;&lt;/h4&gt;
                                        &lt;div class=&quot;stars&quot;&gt;
                                            &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                            &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                            &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                            &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                            &lt;img src=&quot;../../img/stars/star-full.png&quot; /&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;col-sm-12 text-center margin-top-20&quot;&gt;
                                    &lt;p class=&quot;small&quot;&gt;&lt;a href='http://www.glassdoor.com/index.htm'&gt;powered by &lt;img src='http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /&gt;&lt;/a&gt;&lt;/p&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;

                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div id=&quot;social&quot; class=&quot;anchor&quot;&gt;&lt;/div&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;
                        &lt;div class=&quot;employer-social-media&quot;&gt;
                            &lt;ul&gt;
                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-facebook-official employer-brand-primary&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-youtube employer-brand-primary&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-linkedin employer-brand-primary&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-twitter employer-brand-primary&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
                            &lt;/ul&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                {{&gt; organisms-footer }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
